<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<section class="cc2-main">
    <div id="google-map"></div>
</section>
<img id="pano">
{{> template/footer}}

</body>
</html>